section
  = simple_form_for(@article) do |f|
    = f.error_notification 
    .row
      .small-12.columns
        = f.input :title 
    .row
      .small-12.columns
        = f.cktext_area :body, cols: 40, ckeditor: { toolbar: 'mini' } 
    .row
      .small-12.columns
        = f.input :cover_picture, as: :file 
    .row
      .small-12.columns
        = f.association :author
    .row
      .small-12.columns
        = f.label :tag_list, "Tags (separated by commas)"
        = f.text_field :tag_list
    .row
      .small-12.columns
        = f.button :submit, class: 'button success expanded'
