article
  header.text-center
    h1 = @article.title
  .row
    .small-3.columns
      p = link_to @article.author.name, author_path(@article.author)
    .small-3.small-offset-6.columns
      p.text-right = @article.created_at.strftime("%B %d, %Y")
    .small-12.columns
      - if @article.cover_picture.present?
        .cover_pic.text-center
          = image_tag @article.cover_picture_url, alt: @article.cover_picture.filename, width: 500, height: 350
  .row.column
    .body-content
      = raw(@article.body)
  .row.column
    p.tags 
      strong Tags:&nbsp;
      = raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
