= simple_form_for(@author) do |f|
  = f.error_notification

  .row
    .small-12.columns
    = f.input :name
  .row
    .small-12.columns
    = f.input :description

  .row
    .small-12.columns
      = f.button :submit
