article
  h1 Authors
.row.columns
  = link_to 'New Author', new_author_path, class: 'button success'
.row.columns
  table
    thead
      tr
        th Name
        th Description
        th colspan="3"
    tbody
      - @authors.each do |author|
        tr
          td = author.name
          td = author.description
          td = link_to 'Show', author, class: 'button'
          td = link_to 'Edit', edit_author_path(author), class: 'button'
          td = link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert'
