section
  header
    h1.text-center = @author.name
  .row.columns
    = @author.description
    
  .article-list
    .row.columns
      hr
    - @articles.each do |article|
      .row.columns
        article
          .row
            .medium-6.columns
              h2
                = link_to article.title, article_path(article)
            .medium-3.columns
              .subheader = article.author.name
            .medium-3.columns.text-right
              .subheader = article.created_at.strftime("%B %d, %Y")
          .article-content.text-right
            = truncate(strip_tags(article.body), length: 350)
          p.text-right = link_to "Read Full article", article_path(article), class: "button"
  .paginate = paginate @articles
