doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1.0" name="viewport"
    title = content_for?(:title) ? yield(:title) : "Aajantrik"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    == render 'layouts/topbar'
    == render 'layouts/flash'
    .orbit aria-label=("Favorite Space Pictures") data-orbit="" role="region" 
      ul.orbit-container
        button.orbit-previous
          span.show-for-sr> Previous Slide
          | ◀︎
        button.orbit-next
          span.show-for-sr> Next Slide
          | ▶︎
        li.is-active.orbit-slide
          img.orbit-image alt="Space" src="https://foundation.zurb.com/sites/docs/assets/img/orbit/01.jpg"
          figcaption.orbit-caption Space, the final frontier.
        li.orbit-slide
          img.orbit-image alt="Space" src="https://foundation.zurb.com/sites/docs/assets/img/orbit/02.jpg" /
          figcaption.orbit-caption Lets Rocket!
        li.orbit-slide
          img.orbit-image alt="Space" src="https://foundation.zurb.com/sites/docs/assets/img/orbit/03.jpg" /
          figcaption.orbit-caption Encapsulating
        li.orbit-slide
          img.orbit-image alt="Space" src="https://foundation.zurb.com/sites/docs/assets/img/orbit/04.jpg" /
          figcaption.orbit-caption Outta This World
      nav.orbit-bullets
        button.is-active data-slide="0" 
          span.show-for-sr First slide details.
          span.show-for-sr Current Slide
        button data-slide="1" 
          span.show-for-sr Second slide details.
        button data-slide="2" 
          span.show-for-sr Third slide details.
        button data-slide="3" 
          span.show-for-sr Fourth slide details.
    #featured
      .row.expanded
        - @articles.each do |article|
          .small-12.medium-6.large-4.columns
            article.home-page
              h2 = article.title
              p.clearfix
                - if article.cover_picture.present?
                  .thumb = image_tag(article.cover_picture_url(:thumb))
                = truncate(strip_tags(article.body), length: 200)
              p.text-justify = link_to "Read More", article_path(article), class: "button"
      .row.expanded
        .small-12.medium-8.columns.medium-offset-2
          = link_to "All articles", articles_path, class: "success expanded button large"
    == render 'layouts/footer'

    coffee:
      $ ->
        $("#navicon").css("display", "none");
