@import "font-awesome-sprockets";
@import "font-awesome";
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  .top-bar, .off-canvas {
    a {
      color: white;
    }
  }
}
.top-bar {
  .topbar-search {
    padding-top: 10px;
  }
}
.off-canvas-wrapper {
  background-color: #575757;
}
.menu {
  background-color: #222;
}

article {
  header h1 {
    padding-top: 20px;
  }
}
.navbar.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.row.first-intro-row {
  margin: 0;
  max-width: none;
  .columns {
    padding: 0;
    .full-image {
      width: 100%;
      background-image: image_url('intro-image');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      .main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #1e253b;
        text-shadow: 0 0 5px #bebac2;
        h1 {
          font-size: 10rem;
        }
        p {
          font-size: 3rem;
        }
        p.direction-below {
          font-size: 5rem;
        }
      }
    }
  }
}

.cover_pic {
  width: 100%;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
  }
}
.body-content {
  p {
    margin-top: 20px;
    text-align: left;
  }
}
#featured {
  padding-top: 60px;
}
article.home-page {
  img {
    float: left;
    width: 100;
    height: 70px;
    margin-right: 5px;
  }
}

.footer-bottom {
  background: #2c3840;
  padding: 24px 0 10px;
  p.copyright {
    color: #b0c6f0;
    margin: 20px 10px;
  }
  ul {
    list-style-type: none;
    li {
      text-align: center;
      a {
        color: #b0c6f0;
      }
    }
  }
}

h2 {
  a {
    color: #1f5b81;
  }
}
.paginate {
  text-align: center;
  .pagination {
    span {
      display: inline-block;
    }
  }
}
.tags {
  font-size: 1.4rem;
  a {
    color: #00628c;
  }
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  a {
    color: #00628c;
  }
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
