- flash.each do | name, message |
  - name = "success" if name.eql?('notice')
  = content_tag :div, class: "callout #{name}"  do
    button.close-button aria-label='Close alert' type='button'
      span aria-hidden='true' &times;
    = message
