.footer-bottom
  p.text-center.copyright &copy; 2016 Sourav Moitra. All rights reserved.
  .row
    .medium-4.columns
      ul
        - if user_signed_in?
          li = link_to "New articles", new_article_path
          li = link_to "Authors", authors_path
        - else
          li = link_to "Admin Login", new_user_session_path
    .medium-4.columns
      ul
        li = link_to "About", about_path
    .medium-4.columns
      ul
        li = link_to "Contact", contact_path
