.navbar  
  #widemenu.top-bar
    .top-bar-left
      ul.menu
        li#navicon
          button type="button" class="success button" data-toggle="offCanvasLeft" = icon('navicon')
        li
          a href="/"  Home
        li
          a href="/about" About
        li
          a href="/about" Contact
    .top-bar-right
      form action="/search" method="get"
        ul.menu
          - if user_signed_in?
            li = link_to "New Article", new_article_path
            li = link_to "Authors", authors_path
            li = link_to "Logout", destroy_user_session_path, method: :delete
          li
            input placeholder="Search" type="search" name="q"
          li
            button.button Search
