doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1.0" name="viewport"
    title = content_for?(:title) ? yield(:title) : "Aajantrik"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner data-off-canvas-wrapper="" 
        /! off-canvas title bar for 'small' screen
        .title-bar data-hide-for="medium" data-responsive-toggle="widemenu" 
          .title-bar-left
            button.menu-icon data-open="offCanvasLeft" type="button" 
            span.title-bar-title Aajantrik
        /! off-canvas left menu
        #offCanvasLeft.off-canvas.position-left data-off-canvas=""
          button.close-button aria-label=("Close menu") data-close="" type="button" 
            span aria-hidden="true"  ×
          ul.vertical.menu
            li
              a href="/"  Home
            li
              a href="/about" About
            li
              a href="/about" Contact
            li
              a href="/articles" Articles
              ul.submenu.menu.vertical
                - Article.order('created_at DESC').limit(30).each do |article|
                  li
                    = link_to article.title, article_path(article)
        /! off-canvas right menu
        == render 'layouts/topbar'
        /! original content goes in this container
        .off-canvas-content data-off-canvas-content="" 
          == render 'layouts/flash'
          == yield
          == render 'layouts/footer'
